run = "chmod u+x ./replit_launch.sh && ./replit_launch.sh"
hidden = [".build", ".config"]
compile = "chmod u+x ./.config/build.sh && ./.config/build.sh"
entrypoint = "index.ts"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c"]

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/npm/node_global/bin"
npm_config_prefix = "$REPL_HOME/.config/npm/node_global"
